/* Project Design  */
.project {
    padding: 40px 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.35);
    background: var(--project_background);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--body_color);
}

.project h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.project .p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
}

.svg-div{
  position: relative;
  top: -10px;
  left: 100px;
  width: 70%;
}

/* CSS */
.see {
  align-items: center;
  appearance: none;
  background-image: var(--background-button) !important;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.see:focus {
  box-shadow: var(--btn-box);
}

.see:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.see:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}