/* Card */
.project-card {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: var(--body_background) !important;
}
.card-title{
    font-weight: bold;
    font-size: 22px;
    color: var(--plane);
}
.card-text{
    color: var(--p);
}

.img-card {
    width: 60%;
}

.project .card-body {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .tag {
    padding: 0px 10px;
}

/* .project .row:hover> :not(:hover) {
    filter: blur(2px);
    opacity: 0.9;
} */

@media screen and (max-width:700px) {
    .project-card {
        width: 18rem;
        height: fit-content;
        display: flex !important;
        flex-direction: column !important;
    }

    .img-card {
        width: 100%;
    }
}
