/* Footer design */
.footer {
    position: relative;
    padding: 10px 0 10px 0;
}
.footer a {
    font-size: 26px;
    margin: 20px 0px 0px 15px;
    color: var(--body_color);
}
.footer p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
